.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin-top: 50px;
}

.modal-content {
  background-color: #202020;
  border-radius: 8px;
  width: 40vw;
  max-width: 500px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
  /* background-color: blue; */
  height: 70vh;
  position: relative;
}

.modal-poster {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 70vh;
}

.modal-title {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 50px;
  font-weight: 600;
}

.heart-box {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  height: 50px;
}

.heart-box span {
  font-size: 20px;
}

.heart-icon {
  font-size: 40px;
  margin-right: 10px;
}

.modal-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
}

.modal-overview {
  width: 20vw;
  margin: 0 auto;
  height: 130px;
  font-size: 18px;
}

.modal-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 130px;
  margin: 0 auto;
}

.modal-info span {
  margin-bottom: 10px;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 35px;
  cursor: pointer;
  color: white;
  &:hover {
    color: gray;
  }
}
