nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #1b1b1b;
  font-size: 15px;
  padding: 20px 60px;
  color: white;
  border-bottom: 1px solid rgb(59, 59, 59);
  z-index: 15;
}

.nav-column {
  display: flex;
  align-items: center;
}

/* 로고 깜빡임 */
@keyframes logoPulse {
  0% {
    color: rgb(21, 82, 249);
  }
  50% {
    color: white;
  }
  100% {
    color: rgb(21, 82, 249);
  }
}

#logo {
  margin-right: 50px;
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  font-size: 28px;
  cursor: pointer;
  color: rgb(21, 82, 249);

  /* 호버시 로고 깜빡임 */
  &:hover {
    animation: logoPulse 1s infinite;
  }
}

.items {
  display: flex;
  align-items: center;
}

.item {
  margin-right: 25px;
  color: white;
  transition: color 0.1s ease-in-out;
  cursor: pointer;
  &:hover {
    color: gray;
  }
}

.item-home,
.item-favoriate {
  cursor: pointer;
}

.search-wrap {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.search-form {
  background-color: tomato;
}

#search-input {
  position: absolute;
  left: -350px;
  width: 200px;
  top: -5px;

  border-width: 0 0 1px;
  border-color: white;
  color: white;
  background-color: #1b1b1b;
}

#search-input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  background-color: #1b1b1b;
}

.search-icon {
  background-color: #1b1b1b;
  border: none;
  transform-origin: right center;
  position: absolute;
  left: -140px;
  top: -7px;
  cursor: pointer;
  margin-right: 8px;
  i {
    font-size: 20px;
    color: white;
  }
}
