@import "reset.css";
@import "modal.css";
@import "nav.css";
@import "header.css";
@import "movie-section.css";
@import "search.css";

@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  /* height: 300vh; */
  background-color: #1b1b1b;
  color: white;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}
